#wrapper::-webkit-scrollbar{

 
    display: none;
}
body{
 overflow-x : hidden;
}

::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
}

/* #threeDotMenu{
    left: 0rem;
} */
